body {
  overflow: visible;
}

fieldset legend {
  font-size:18px;
}

.pac-container {
  z-index: 99999;
}

/*to Alis*/

.custom-bg {
  background: none repeat scroll 0 0 #e4e7ea;
}

div.form-group label {
  text-align: right !important;
  margin-top:9px;
}

div.form-group .rdio label {
  margin-top:0 !important;
}

.ckbox, .rdio {
  position: relative;
  margin: 10px !important;
}


#loading {
  margin:13px;
  display: none;
}

.table > tbody > tr > td {
  vertical-align: middle !important;
}